{% load static %}
<div style="text-align: center;">
<h1>PROFILE</h1><br>    
<h1>Name : Benavena Aravind</h1>
<img src="{% static 'images/aravind.jpg' %}" width="200" >
<h2>MYSELF ARAVIND,IAM FROM KARIMNAGAR.I COMPLETED MY INTERMEDIATE EDUCATION IN NARAYANA JUNIOR COLLEGE WITH 98.7%.I GOT 4117 RANK IN EAPCET WHICH GET ME THE COLLEGE GOKARAJU RANGARAJU INSTITUTE OF TECHNOLOGY.MY SHORT TERM GOAL IS TO SCORE WELL IN MIDS AND SEMS AND MY LONG TERM GOAL IS GET A GOOD JOB IN A COMPANY WITH DECENT PACKAGE.</h2><br>
<h2>I STARTED LEARNING THE PROGRAMMING LANGUAGES LIKE C ,PYTHON FOLLLOWED BY DJANGO FRAMEWORK.I WOULD LIKE TO SHARE MY PROJECTS DEMO HERE</h2><BR>
<h2>PROJECT-1 : TABLE TENNIS</h2><br>
<video width="800" controls>
<source src="/media/video/sample.mp4" type="video/mp4">   
</video>
<h2>PROJECT-2 : CAR GAME</h2>
<video width="800" controls>
    <source src="/media/video/car.mp4" type="video/mp4">
</video>
<h2>PROJECT-3 : SNAKE GAME</h2>
<video width="800" controls>
    <source src="/media/video/snake.mp4" type="video/mp4">
</video>
<h2>PROJECT-4 : DJANGO</h2>
<video width="800" controls>
    <source src="/media/video/Django.mp4" type="video/mp4">
</video>

</video>
</div>